* {
  box-sizing: border-box;
  text-align: : centered;
}
header {
	text-align: center;
	border-bottom: solid .3em #04aaa5;
	color: ##04aaa5;
	width: 100%;
	background: transparent;
}
body{
	text-align: center;
	background-image: url("../images/pastel-tie-dye-wallpaper-6.jpg");
	color: #04aaa5;
}
footer {
	clear:left;
	background-image: url("../images/bgrnd.png");
	padding: 1em;
	border-top: solid .3em #4aaaa5;
	text-align: center;
	color: #fff;
	font-family: "Arial";
	width: 100%;
	padding: 1.5em 0;
}

h2 {
	font-size: 1.5em;
	font-family: "Arial";
	font-weight: bold;
	margin: 5px 0;
}
h3 {
	font-size: 1.0em;
	font-family: "Arial";
	font-weight: bold;
	padding: .3em 0;
}


.div-content {
	/*background-color: #ffe6e6;*/
	/*background-image: url("../images/maxresdefault.jpg");*/
	width:100%;
	height:100%;
}
/*div-center has 3 children div-time id-start-button and div-qa (question and answers)*/
.div-center {
	/*background-color: #f2e6e6;*/

	margin: 0 auto;
	width:30em;
	height:30em;
}
.div-time {
	/*background-color: #ffcc66;*/
	background: transparent;
	margin: 0 auto;
	width:30em;
	height:10%;
}

#id-start-button, #id-end-button {
	height:10%;
	color: #04aaa5;
	font-size: 1.5em;
	font-family: "Arial";
	font-weight: bold;
	background: transparent;
}
/*This div-qa contains 3 divs, div-q (question) div-choice (answer choices) div-a (answer)*/
.div-qa {
	/*background-color: #66ff33;*/
	margin: 0 auto;
	width:30em;
	height:80%;

}
.div-q {
	height:30%;
	/*border: 1px solid black;*/
}
.div-choice {
	height:50%;
	/*border: 1px solid black;*/
}
.div-a {
	height:20%;
	/*border: 1px solid black;*/
}
/**/
.game-choice {
	cursor: pointer;
}
.game-choice:hover {
	background-color: #badbad;
	margin: 0 auto;
	width: 10em;
}

@media screen and (max-width: 640px) {
	.div-center {
		width:23em;
	}	
	.div-qa {
		/*background-color: #66ff33;*/
		margin: 0 auto;
		width:23em;
		height:80%;
	}
	.div-time {
		width:23em;
	}
}